<% if alert  %>
<div class="alert alert-danger" role="alert">
 Alert:
 <%= alert %>
</div>
<% end %>

<% if notice %>
<div class="alert alert-success" role="alert">
 Success:
 <%= notice %>
</div>
<% end %>
